<div class="col-10 offset-1 about">
  <h1>About Splurty</h1>
  <p>
    Splurty was built by <a target="_blank" href="https://www.linkedin.com/in/jeremy-bright-050737aa/">Jeremy Bright</a></a>. One web developer who's sole mission is to help the world smile. 
  </p>
  <br />
  <p>
   Jeremy taught hundreds of people how to be happy and make their dreams come true at places like the grocery store, the watering hole, and the local mini mall.
  </p>
  <p>
    If you want to learn how to code - start <a target="_blank" href="https://online.bootcampspot.com"> here</a>.
  </p>

  <div class="row">
    <div class="col-12 col-sm-4">
      <%= image_tag 'jeremy_vegas.jpg', class: 'img-fluid' %>
    </div>

    <div class="col-12 col-sm-7 offset-sm-1">
      <h2 class="text-center">Jeremy Bright</h2>
      <br />
      <p>
        Jeremy Bright is a web developer by day and an insurance salesman also by day. He has consulted Fortune 500 companies like Kinkos and Blockbuster. In an earlier life, he traveled around the world on $5/day for an entire year. He is, the most interesting man in the world. 
      </p>
    </div>
  </div>
 
      </p>
    </div>
  </div>
</div>

<br class="clear" />
<br />
<br />
<br />
<br />